@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            // Set the username in localStorage if it's passed in ViewBag
            var userName = '@ViewBag.UserName';
            if (userName) {
                localStorage.setItem('userName', userName); // Save username to localStorage
                console.log('User name saved in localStorage: ' + userName);
            }
        };
    </script>
}